<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Get all control groups
    const controlGroups = document.querySelectorAll('.page-controls')

    controlGroups.forEach((controls) => {
      const returnBtn = controls.querySelector('.return-button')
      const bottomBtn = controls.querySelector('.bottom-button')
      const refreshBtn = controls.querySelector('.refresh-button')

      returnBtn.addEventListener('click', function () {
        if (
          window.location.pathname === '/' ||
          window.location.pathname === '/index.html'
        ) {
          window.location.reload()
        } else {
          window.history.back()
        }
      })

      bottomBtn.addEventListener('click', function () {
        window.scrollTo(0, document.body.scrollHeight)
      })

      refreshBtn.addEventListener('click', function () {
        window.location.reload()
      })
    })
  })
</script>

<div
  class="page-controls border-b border-t border-[#232529] py-1.5 text-[13px]"
>
  [<span
    class="return-button cursor-pointer text-[#81a2be] hover:text-[#5f89ac]"
    >Return</span
  >] [<span
    class="bottom-button cursor-pointer text-[#81a2be] hover:text-[#5f89ac]"
    >Bottom</span
  >] [<span
    class="refresh-button cursor-pointer text-[#81a2be] hover:text-[#5f89ac]"
    >Refresh</span
  >]
</div>
