<nav class="flex items-center justify-center gap-1 text-xs">
  [
  <div class="flex items-center gap-2">
    <a href="/" class="text-[#81a2be] hover:text-[#5f89ac]">Home</a>/
    <a href="/gallery" class="text-[#81a2be] hover:text-[#5f89ac]">Gallery</a>/
    <a href="/posts" class="text-[#81a2be] hover:text-[#5f89ac]">Posts</a>/
    <a href="/programs" class="text-[#81a2be] hover:text-[#5f89ac]">Programs</a
    >/ <a href="/donate" class="text-[#81a2be] hover:text-[#5f89ac]">Donate</a>
  </div>
  ]
</nav>
