{{ define "partials/recent-post.html" }}
  <div class="mx-auto flex w-full flex-col items-center">
    <h3
      class="flex items-center justify-center text-[22px] font-bold leading-normal"
    >
      [<a
        href="/posts"
        class="flex items-center justify-center text-[#81a2be] hover:text-[#5f89ac]"
      >
        <img
          src="/img/posts.webp"
          alt="email"
          class="mr-1 h-6 w-auto"
        />Posts </a
      >]
    </h3>
    <div class="mb-4 h-px w-full bg-[#232529]"></div>
  </div>
  {{ $pages := . }}
  {{ range $pages }}
    <article class="w-full bg-[#282a2e] px-4 py-3 text-sm">
      <h2 class="pb-2 font-bold">
        <a href="{{ .RelPermalink }}" class="text-[#b294bb]">{{ .Title }}</a>
        {{ if .Params.author }}{{ .Params.author }}{{ end }}
        {{ partial "flag.html" . }}
        <time class="text-sm font-normal">
          {{ .Date.Format "01/02/06(Mon)15:04:05" }}
          No.{{ .Params.post_number }}
        </time>
      </h2>
      {{ if .Content }}
        <div class="px-6">
          <p class="overflow-hidden text-ellipsis whitespace-nowrap">
            {{ .Content | strings.Truncate 240 }}
          </p>
        </div>
        <div class="flex justify-end">
          [<a
            href="{{ .RelPermalink }}"
            class="text-[13px] text-[#81a2be] hover:text-[#5f89ac]"
            >Read more...</a
          >]
        </div>
      {{ end }}
    </article>
  {{ end }}
{{ end }}
