<div class="mx-auto flex w-full items-center justify-between py-1">
  <h3
    class="flex items-center justify-center text-[22px] font-bold leading-normal"
  >
    [<a
      href="mailto:thomas@thomasjudkins.com"
      class="flex items-center gap-1 text-[#81a2be] hover:text-[#5f89ac]"
      ><img src="img/mail.webp" alt="email" class="h-6 w-auto" />Email</a
    >]
  </h3>
  <h3
    class="flex items-center justify-center text-[22px] font-bold leading-normal"
  >
    [<a
      href="https://github.com/Tjud14"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-1 text-[#81a2be] hover:text-[#5f89ac]"
      ><img src="/img/github.webp" alt="email" class="h-5 w-auto" />GitHub</a
    >]
  </h3>
  <h3
    class="flex items-center justify-center text-[22px] font-bold leading-normal"
  >
    [<a
      href="/bitcoin"
      class="flex items-center gap-1 text-[#81a2be] hover:text-[#5f89ac]"
      ><img src="/img/bitcoin.webp" alt="email" class="h-5 w-auto" />Bitcoin</a
    >]
  </h3>
  <h3
    class="flex items-center justify-center text-[22px] font-bold leading-normal"
  >
    [<a
      href="/monero"
      class="flex items-center gap-1 text-[#81a2be] hover:text-[#5f89ac]"
      ><img src="/img/monero.webp" alt="email" class="h-5 w-auto" />Monero</a
    >]
  </h3>
  <h3
    class="flex items-center justify-center text-[22px] font-bold leading-normal"
  >
    [<a
      href="/monero"
      class="flex items-center gap-1 text-[#81a2be] hover:text-[#5f89ac]"
      ><img src="/img/rss.webp" alt="email" class="h-5 w-auto" />RSS</a
    >]
  </h3>
</div>
